<%- include("../partials/header") %>

<p class="ready">Your image is ready! Download it using the button below.</p>

<div>
	<img
		src="/uploads/<%= name %>"
		alt="Your image isn't rendering properly. Please try again."
	/>
</div>

<a href="/uploads/<%= name %>" download="<%= name %>">
	<button class="download">Download</button>
</a>

<%- include("../partials/footer") %>
