<%- include("../partials/header") %>

<p>Your image is ready! Download it using the button below.</p>

<img
	src="/uploads/<%= name %>"
	alt="Your image isn't rendering properly. Please try again."
/>

<a href="/uploads/<%= name %>" download="<%= name %>">
	<button>Download the image</button>
</a>

<%- include("../partials/footer") %>
