<%- include("../partials/header", { title, stylesheet }); %>

<img
	src="/uploads/<%- name %>"
	alt="Your image isn't rendering properly. Please try refreshing."
/>

<a href="/uploads/<%- name %>" download="<%- name %>"
	><button>Download the image</button></a
>

<%- include("../partials/footer"); %>
