<%- include("../partials/header") %> <%- include("../partials/errorMessages") %>

<form id="edit-form" action="/process" method="POST">
	<div>
		<input
			type="text"
			id="comment-input"
			placeholder="Write a comment"
			spellcheck="true"
		/>

		<button onclick="addComment();" type="button">Add comment</button>
	</div>

	<p id="feedback"></p>

	<div>
		<ol id="comments-list"></ol>
	</div>

	<div>
		<canvas id="edit-canvas" tabindex="1"></canvas>
	</div>

	<input type="text" name="comments" style="display: none" />
	<input type="text" name="image" style="display: none" />

	<button type="submit">Submit</button>
</form>

<script src="./js/edit.js"></script>

<script>
	imageExport.value = "<%= image %>";
	backgroundImage.src = "/downloads/<%= image %>";
</script>

<%- include("../partials/footer") %>
